table.secret-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  table-layout: auto;
  &.condensed td,
  &.condensed th.vgt-row-header {
    padding: 0.4em 0.4em 0.4em 0.4em;
  }
  & td {
    @apply bg-gray-800-spotify text-white py-2 px-4;
    vertical-align: top;
  }
  & tr {
    &:not(:last-child) {
      @apply border-b border-green-900;
    }
    &.clickable {
      cursor: pointer;
      &:hover {
        td {
          @apply bg-gray-700-spotify  text-sm;
        }
      }
    }
  }
  &.striped tbody tr:nth-of-type(odd) td {
    @apply bg-gray-700-spotify;
  }
  &.striped tbody tr.clickable:hover td {
    @apply bg-gray-700-spotify;
  }
  &.bordered td:not(:last-child),
  &.bordered th:not(:last-child) {
    @apply border-r border-green-900;
  }
  .secrets__row-count {
    &__label,
    &__select {
      display: inline-block;
      vertical-align: middle;
    }
    &__label {
      @apply text-sm text-green-700;
    }
    &__select {
      @apply relative w-auto appearance-none bg-gray-800-spotify font-semibold text-sm leading-tight rounded border border-solid border-green-900 px-2 pr-6 py-1 ml-2;
      background-position: right 0.45rem center;
      &:hover {
        @apply border-green-500;
      }
      &:focus {
        @apply border-green-500;
        outline: none;
      }
    }
  }
}
