.vgt-input,
.vgt-select {
  @apply leading-tight py-2 px-3 rounded bg-gray-800-spotify border border-green-900;
  width: 100%;
  display: block;
  box-sizing: border-box;
  &:hover {
    @apply border-green-500;
  }
  &:focus {
    @apply outline-none border-green-500;
  }
  &::placeholder {
    opacity: 0.3;
  }
}
