table.vgt-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  table-layout: auto;
  & td {
    @apply bg-gray-800-spotify text-gray-700-spotify py-2 px-4;
    vertical-align: top;
  }
  & tr {
    &:not(:last-child) {
      @apply border-b border-green-900;
    }
    &.clickable {
      cursor: pointer;
      &:hover {
        td {
          @apply bg-gray-700-spotify text-gray-400;
        }
      }
    }
  }
}
