// grey ramp
$base-grey: #dcdfe6 !default;
$light-grey: #e4e7ed !default;
$lighter-grey: #ebeef5 !default;
$extra-light: #f2f6fc !default;

$text-color: #616660 !default;
$secondary-text-color: #909399 !default;
$input-border-color: $base-grey !default;
$border-color: $base-grey !default;
$highlight-color: #f1f5fd !default;

$thead-bg-color-1: #f4f5f8 !default;
$thead-bg-color-2: #f1f3f6 !default;

// link
$link-color: #409eff;
$notify-bg-color: #fdf9e8;
$notify-fg-color: #b38d28;
